header > a {
  float: left;
  margin-right: -40px;
  color: black;
  position: absolute;
  top: 27px;
  left: 10px;
}

.restaurant-infos-container {
  border-radius: 40px 40px 0 0;
  background-color: #f7f7f7;
  overflow: hidden;
  position: relative;
  bottom: 50px;
}

.restaurant-infos-container h2 {
  margin-left: 5%;
  margin-top: 10%;
}

main img {
  height: 300px;
  width: 100%;
}

.restaurant-headers h1 {
  font-family: "Shrikhand";
  font-weight: 500;
  margin-left: 4%;
  margin-top: 5%;
  font-size: xx-large;
}

.restaurant-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-headers i {
  margin-right: 10%;
}

.menu-widget {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 5px 5px rgb(216, 216, 216);
  border-radius: 20px;
}

.menu-widget b {
  margin-top: 9%;
  margin-right: 5%;
}

.menu-widget-infos {
  width: 90%;
}

.menu-widget-infos h3 {
  margin-top: 8px;
  margin-bottom: 2%;
  margin-left: 3%;
}

.menu-widget-infos h4 {
  margin-top: 0;
  margin-bottom: 2%;
  font-weight: normal;
  margin-left: 3%;
}

.btn-command {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#ff93e1, #a16be0);
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: -3px 5px 5px rgb(216, 216, 216), 3px 5px 5px rgb(216, 216, 216);
  width: 40%;
  margin-top: 8%;
}

.top-container {
  background-color: #f7f7f7;
  padding-bottom: 10%;
}

.geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  height: 50px;
  box-shadow: inset 0 3px 3px rgb(189, 189, 189);
}

.loc {
  margin-left: 4%;
}

.presentation h1, .presentation h2 {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
}

.presentation h1 {
  padding-top: 30px;
  margin-left: 16%;
  margin-right: 16%;
}

.presentation h2 {
  font-weight: normal;
}

.explore-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#ff93e1, #a16be0);
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: -3px 5px 5px rgb(216, 216, 216), 3px 5px 5px rgb(216, 216, 216);
  margin-top: 8%;
  width: 50%;
}

.working-section {
  margin-top: 10%;
}

.working-section > h2 {
  margin-bottom: 7%;
  margin-left: 6%;
}

.working-logos {
  margin-right: 7%;
  color: #8b8b8b;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  min-width: 25px;
  border-radius: 25px;
  margin-left: -5px;
  background-color: #9356DC;
  color: white;
  margin-right: 7%;
}

.working-guide-widget {
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 4%;
  border-radius: 20px;
  height: 85px;
  box-shadow: 3px 5px 5px rgb(216, 216, 216);
  background-color: #f9f9f9;
}
.working-guide-widget:hover {
  background-color: #ffe9f9;
}
.working-guide-widget:hover > .working-logos {
  color: #9356DC;
}

.restaurant-section {
  background-color: #f7f7f7;
  margin-top: 15%;
  padding-bottom: 12%;
}

.restaurant-section > h2 {
  padding-top: 10%;
  margin-left: 5%;
}

.restaurant-widget {
  box-shadow: 0px 0px 5px rgb(223, 212, 212);
  border-radius: 25px;
  background: white;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.restaurant-widget img {
  height: 200px;
  -o-object-position: 20% 80%;
     object-position: 20% 80%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#vertical-picture img {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.restaurant-infos {
  margin-left: 5%;
}

.restaurant-infos h3 {
  margin-top: 4%;
  margin-bottom: 2%;
}

.restaurant-infos h4 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3%;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: auto;
  position: absolute;
  margin-right: 4%;
  margin-top: 4%;
  right: 5%;
  height: 35px;
  width: 20%;
  background-color: #99E2D0;
  color: #217460;
}

.heart-logo {
  display: block;
  position: relative;
  bottom: 40px;
  left: 85%;
}
.heart-logo:hover {
  color: white;
  background-color: black;
}

.heart-full-logo {
  text-shadow: 0 0 3px black;
  display: block;
  position: relative;
  bottom: 40px;
  left: 85%;
  color: white;
}
.heart-full-logo:hover {
  color: #9356DC;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

header {
  height: 50px;
  margin-top: 20px;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article a {
  text-decoration: none;
  color: black;
  height: 100%;
}

footer {
  background-color: rgb(51, 51, 51);
  color: white;
}

footer h4 {
  padding-left: 5%;
  margin: 0;
  padding-top: 5%;
  font-family: "Shrikhand", sans-serif;
}

footer ul {
  padding-left: 5%;
  margin-bottom: 0;
  padding-bottom: 5%;
}

footer li {
  list-style: none;
  padding-bottom: 2%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  min-width: 20px;
}

footer span {
  margin-right: 2%;
}/*# sourceMappingURL=main.css.map */