header a {
  float: left;
  color: black;
  position: absolute;
  top: 10%;
  left: 2%;
}

.restaurant-infos-container {
  border-radius: 40px 40px 0 0;
  background-color: #f7f7f7;
  overflow: hidden;
  position: relative;
  margin-top: -50px;
  z-index: 2;
  padding-bottom: 8%;
}
.restaurant-infos-container h2 {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 2%;
}

main img {
  height: 300px;
  width: 100%;
}
@media (min-width: 768px) {
  main img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
  }
}

#vertical-background-image-container {
  height: 300px;
  width: 100%;
}
@media (min-width: 768px) {
  #vertical-background-image-container {
    height: 600px;
  }
}

#vertical-background-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 37% 63%;
     object-position: 37% 63%;
}
@media (min-width: 768px) {
  #vertical-background-image {
    height: 600px;
  }
}

.restaurant-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-headers h1 {
  font-family: "Shrikhand";
  font-weight: 500;
  margin-left: 4%;
  margin-top: 3%;
  font-size: xx-large;
}

.heart-logos-menu {
  position: relative;
  margin-right: 5%;
}
.heart-logos-menu:hover > .heart-logo {
  display: none;
}
.heart-logos-menu:hover > .heart-full-logo {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms 100ms;
}

@media (min-width: 768px) {
  .starters-dishes-desserts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 3%;
  }
}
@media (min-width: 992px) {
  .starters-dishes-desserts {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .menu-part {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .menu-part {
    width: 35%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu-part:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .menu-part-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .menu-part-header h2, .menu-part-header .green-underline {
    margin-left: 0;
  }
}

.green-underline {
  display: block;
  height: 5px;
  width: 15%;
  background-color: #99E2D0;
  margin-bottom: 3%;
  margin-left: 5%;
}

.menu-widget {
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 5px 5px rgb(216, 216, 216);
  border-radius: 20px;
  opacity: 0;
}
@media (min-width: 768px) {
  .menu-widget {
    margin-bottom: 10%;
  }
}
.menu-widget__first {
  -webkit-animation: cascade 500ms 500ms forwards;
          animation: cascade 500ms 500ms forwards;
}
.menu-widget__second {
  -webkit-animation: cascade 500ms 600ms forwards;
          animation: cascade 500ms 600ms forwards;
}
.menu-widget__third {
  -webkit-animation: cascade 500ms 700ms forwards;
          animation: cascade 500ms 700ms forwards;
}
.menu-widget__fourth {
  -webkit-animation: cascade 500ms 800ms forwards;
          animation: cascade 500ms 800ms forwards;
}
.menu-widget:hover > .checked {
  width: 20%;
}
.menu-widget:hover > .checked > .check-valid {
  opacity: 1;
  -webkit-animation: check-circle-reveal 500ms 100ms;
          animation: check-circle-reveal 500ms 100ms;
}
.menu-widget:hover > .menu-widget-infos {
  width: 70%;
}
.menu-widget:hover > .pricing {
  width: 10%;
}

.checked {
  width: 0;
  right: 0;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right center;
  transition: width 500ms linear;
}
.checked .check-valid {
  opacity: 0;
}

.menu-widget-infos {
  width: 90%;
  margin-left: 3%;
}
.menu-widget-infos h3 {
  margin-top: 8px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 2%;
}
.menu-widget-infos h4 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 2%;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 4%;
  margin-bottom: 3%;
}
@media (min-width: 768px) {
  .pricing {
    margin-bottom: 4%;
  }
}

.menu-widget-infos, .pricing {
  transition: width 500ms;
}

.btn-command {
  display: block;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#ff93e1, #a16be0);
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: -3px 5px 5px rgb(175, 175, 175), 3px 5px 5px rgb(173, 173, 173);
  cursor: pointer;
  width: 40%;
  margin-top: 8%;
}
.btn-command::after {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: -6px 10px 10px rgb(175, 175, 175), 6px 10px 10px rgb(173, 173, 173);
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 800ms;
  content: "";
}
.btn-command:hover::after {
  opacity: 1;
}
@media (min-width: 768px) {
  .btn-command {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .btn-command {
    width: 20%;
  }
}

.container {
  overflow: hidden;
  -webkit-animation: reveal-scrollbar 2s forwards;
          animation: reveal-scrollbar 2s forwards;
  max-height: 100vh;
}

.top-container {
  background-color: #f7f7f7;
  padding-bottom: 10%;
}
@media (min-width: 992px) {
  .top-container {
    padding-bottom: 5%;
  }
}

.spinner-container {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: white;
  -webkit-animation: page-loading 2s linear forwards;
          animation: page-loading 2s linear forwards;
}

.spinner {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-linear-gradient(#ff93e1, #a16be0);
  -webkit-animation: rotating-spinner 1s linear 2;
          animation: rotating-spinner 1s linear 2;
}

.geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  height: 50px;
  box-shadow: inset 0 3px 3px rgb(189, 189, 189);
}

.loc {
  margin-left: 4%;
}

.presentation h1, .presentation h2 {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
}

.presentation h1 {
  padding-top: 30px;
  margin-left: 16%;
  margin-right: 16%;
}
.presentation h2 {
  font-weight: normal;
}

.presentation a {
  text-decoration: none;
  color: white;
}

.explore-btn {
  display: block;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#ff93e1, #a16be0);
  height: 50px;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: -3px 5px 5px rgb(175, 175, 175), 3px 5px 5px rgb(173, 173, 173);
  cursor: pointer;
  margin-top: 8%;
  width: 50%;
}
.explore-btn::after {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: -6px 10px 10px rgb(175, 175, 175), 6px 10px 10px rgb(173, 173, 173);
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 800ms;
  content: "";
}
.explore-btn:hover::after {
  opacity: 1;
}
@media (min-width: 768px) {
  .explore-btn {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .explore-btn {
    width: 20%;
  }
}

.working-section {
  margin-top: 10%;
}
.working-section > h2 {
  margin-bottom: 7%;
  margin-left: 6%;
}
@media (min-width: 992px) {
  .working-section > h2 {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .working-section {
    margin-top: 4%;
  }
}

@media (min-width: 992px) {
  .working-widgets {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
  }
}

.working-logos {
  margin-right: 7%;
  color: #8b8b8b;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  min-width: 25px;
  border-radius: 25px;
  margin-left: -5px;
  background-color: #9356DC;
  color: white;
  margin-right: 7%;
}

.working-guide-widget {
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 4%;
  border-radius: 20px;
  height: 85px;
  box-shadow: 3px 5px 5px rgb(216, 216, 216);
  background-color: #f9f9f9;
}
.working-guide-widget:hover {
  background-color: #ffe9f9;
}
.working-guide-widget:hover > .working-logos {
  color: #9356DC;
}

.restaurant-section {
  background-color: #f7f7f7;
  margin-top: 15%;
  padding-bottom: 12%;
}
.restaurant-section h2 {
  padding-top: 10%;
  margin-left: 5%;
}
@media (min-width: 768px) {
  .restaurant-section h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-top: 5%;
    padding-bottom: 4%;
  }
}
@media (min-width: 992px) {
  .restaurant-section {
    margin-top: 6%;
  }
}

.restaurant-widget {
  box-shadow: 0px 0px 5px rgb(223, 212, 212);
  border-radius: 25px;
  background: white;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  position: relative;
}
.restaurant-widget img {
  height: 200px;
  -o-object-position: 20% 80%;
     object-position: 20% 80%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurant-widget {
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (min-width: 992px) {
  .restaurant-widget {
    width: 35%;
  }
}

.restaurant-widget-box {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .restaurant-widget-box {
    justify-content: center;
  }
}

#vertical-picture img {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.restaurant-infos {
  margin-left: 5%;
}
.restaurant-infos h3 {
  margin-top: 4%;
  margin-bottom: 2%;
}
.restaurant-infos h4 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3%;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: auto;
  position: absolute;
  margin-right: 4%;
  margin-top: 4%;
  right: 5%;
  height: 35px;
  width: 20%;
  background-color: #99E2D0;
  color: #217460;
}

.heart-logos {
  position: absolute;
  z-index: auto;
  bottom: 25px;
  left: 85%;
  max-width: 32px;
}
.heart-logos:hover > .heart-logo {
  display: none;
}
.heart-logos:hover > .heart-full-logo {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms 100ms;
}

.heart-logos-menu {
  position: relative;
  margin-right: 5%;
}
.heart-logos-menu:hover > .heart-logo {
  display: none;
}
.heart-logos-menu:hover > .heart-full-logo {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms 100ms;
}

.heart-logo {
  display: block;
}
.heart-logo__menu {
  position: relative;
  top: -16px;
}

.heart-full-logo {
  display: block;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-linear-gradient(#ff93e1, #a16be0);
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}
@media (min-width: 992px) {
  body {
    max-width: 1400px;
    margin: auto;
  }
}

header {
  height: 50px;
  margin-top: 20px;
  position: relative;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article a {
  text-decoration: none;
  color: black;
  height: 100%;
}

footer {
  background-color: rgb(51, 51, 51);
  color: white;
}

footer h4 {
  padding-left: 5%;
  margin: 0;
  padding-top: 5%;
  font-family: "Shrikhand", sans-serif;
}

footer ul {
  padding-left: 5%;
  margin-bottom: 0;
  padding-bottom: 5%;
}

footer li {
  list-style: none;
  padding-bottom: 2%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  min-width: 20px;
}

footer span {
  margin-right: 2%;
}

@-webkit-keyframes cascade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cascade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes rotating-spinner {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(90deg);
  }
  66% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotating-spinner {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(90deg);
  }
  66% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes page-loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes page-loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes reveal-scrollbar {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes reveal-scrollbar {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@-webkit-keyframes check-circle-reveal {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check-circle-reveal {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */