.container 
{
    overflow: hidden;
    animation: reveal-scrollbar 2s forwards;
    max-height: 100vh;
}

.top-container 
{
    background-color: $color-section-background;
    padding-bottom: 10%;
    @media (min-width: $desktop) {
        padding-bottom: 5%;
    }
}

.spinner-container 
{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: white;
    animation: page-loading 2s linear forwards;
}

.spinner {
    @include fa-gradient;
    animation: rotating-spinner 1s linear 2;
}

.geoloc
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    height: 50px;
    box-shadow: inset 0 3px 3px rgb(189, 189, 189);
}

.loc 
{
    margin-left: 4%;
}

.presentation h1, .presentation h2
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
}

.presentation
{
    h1 {
        padding-top: 30px;
        margin-left: 16%;
        margin-right: 16%;
    }

    h2 {
        font-weight: normal;
    }
}

.presentation a
{
    text-decoration: none;
    color: white;
}

.explore-btn
{
    @include btn-gradient;
    margin-top: 8%;
    width: 50%;
    
    @media (min-width: $tablet) {
        width: 30%;
    }

    @media (min-width: $desktop) {
        width: 20%;
    }

}

.working-section 
{
    margin-top: 10%;

    &> h2 {
        margin-bottom: 7%;
        margin-left: 6%;
        @media (min-width: $desktop) {
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-bottom: 0;
        } 
    }

    @media (min-width: $desktop) {
        margin-top: 4%;
    }
}

.working-widgets
{
    @media (min-width: $desktop) {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }
}


.working-logos 
{
    margin-right: 7%;
    color: #8b8b8b;
}

.number
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    border-radius: 25px;
    margin-left: -5px;
    background-color: $color-primary;
    color: white;
    margin-right: 7%;
}

.working-guide-widget
{
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 4%;
    border-radius: 20px;
    height: 70px;
    box-shadow: 3px 5px 5px rgb(216, 216, 216);
    background-color: #f9f9f9;
    font-size: 0.8em;
    &:hover {
        background-color: lighten($color-secondary, 22%);
    }
    &:hover > .working-logos {
        color: $color-primary;
    }
    @media(min-width: $desktop) {
        margin-left: 0;
        margin-right: 0;
        width: 30%;
    }
}

.restaurant-section
{
    background-color: $color-section-background;
    margin-top: 15%;
    padding-bottom: 12%;

    h2 {
        padding-top: 10%;
        margin-left: 5%;

        @media (min-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: 0;
            padding-top: 5%;
            padding-bottom: 4%;
        }
    }

    @media(min-width: $desktop) {
        margin-top: 6%;
    }

    .restaurant-widget-box {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 992px) {
            justify-content: center;
        }
        .restaurant-widget {
            box-shadow: 0px 0px 5px rgb(223 212 212);
            border-radius: 25px;
            background: white;
            overflow: hidden;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
            position: relative;
            
            img {
                height: 200px;
            object-position: 20% 80%;
            object-fit: cover;
            width: 100%;
            }

            @media (min-width: $tablet) {
                width: 44%;
                margin-left: 3%;
                margin-right: 3%;
            }

            @media (min-width: $desktop) {
                width: 35%;
            }
            .new {
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: auto;
                position: absolute;
                margin-right: 4%;
                margin-top: 4%;
                right: 5%;
                height: 35px;
                width: 20%;
                background-color: $color-tertiary;
                color: darken($color: $color-tertiary, $amount: 45%);
            }
            .restaurant-infos {
                margin-left: 5%;
                h3 {
                margin-top: 4%;
                margin-bottom: 2%;
                }
                h4 {
                font-weight: normal;
                margin-top: 0;
                margin-bottom: 3%;
                }
            }
            .heart-logos {
                position: absolute;
                z-index: auto;
                bottom: 25px;
                left: 85%;
                max-width: 32px;
                @include heart-anim;
                @include heart-logo-superpose
            }
        }
    }
}

#vertical-picture img
{
    object-position: 50% 60%;
}
