header
{
    a {
    float: left;
    color: black;
    position: absolute;
    top: 10%;
    left: 2%;
    }
}

.restaurant-infos-container
{
    border-radius: 40px 40px 0 0;
    background-color: $color-section-background;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
    z-index: 2;
    padding-bottom: 8%;
    
    h2 {
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 2%;
    }
}

main img
{
    height: 300px;
    width: 100%;

    @media (min-width: $tablet) {
        object-fit: cover;
        height: 500px;
    }
}

#vertical-background-image-container
{
    height: 300px;
    width: 100%;

    @media(min-width: $tablet) {
        height: 600px;
    }
}

#vertical-background-image
{
    object-fit: cover;
    object-position: 37% 63%;

    @media(min-width: $tablet) {
        height: 600px;
    }
}

.restaurant-headers
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: 'Shrikhand';
        font-weight: 500;
        margin-left: 4%;
        margin-top: 5%;
        font-size: xx-large;
        margin-bottom: 0;
    }

    i {
        margin-right: 10%;
    }
}

.menu-part-header
{
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2, .green-underline{
        @media (min-width: 768px) {
            margin-left: 0;
        }
    }
}

.green-underline 
{
    display: block;
    height: 5px;
    width: 15%;
    background-color: $color-tertiary;
    margin-bottom: 3%;
    margin-left: 5%;;
}


.menu-widget
{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 5px 5px rgb(216, 216, 216);
    border-radius: 20px;
    opacity: 0;
    @media (min-width: $tablet) {
        width: 60%;
    }

    &__first {
        animation: cascade 500ms 500ms forwards;
    }

    &__second {
        animation: cascade 500ms 600ms forwards;
    }

    &__third {
        animation: cascade 500ms 700ms forwards;
    }

    &__fourth {
        animation: cascade 500ms 800ms forwards;
    }
}

.menu-widget-infos
{
    width: 90%;

    h3 {
        margin-top: 8px;
        margin-bottom: 2%;
        margin-left: 3%;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 2%;
        font-weight: normal;
        margin-left: 3%;
    }
}

.pricing 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 7%;
    margin-bottom: 3%;
}

.btn-command
{
    @include btn-gradient;
    width: 40%;
    margin-top: 8%;

    @media (min-width: $tablet) {
        width: 25%;
    }

    @media (min-width: $desktop) {
        width: 20%;
    }
}


